.btn{background-color: rgb(92, 180, 91);
    height: 100px;
width: 160px;
 font-size: 18px;
 border-radius: 20px;
 margin-right: 10px;
margin-top: 20px;}
  .lk{color: white;}
   .btn a:hover{color: darkgreen;}
   .dheading{background-color: none;}
   .belinguistic{color: white;
             margin-left: 30px;}
.m{color: rgb(92, 180, 91);
     font-size: 25px;
     margin-left: 20px;}             
